{% extends "base.html" %}
{% load humanize %}
{%block title%} Welcome to the menu orders {% endblock %}
{% block content %}
	<form method="post" action="">
		{% csrf_token %}
		<div class="navbar navbar-inverse navbar-fixed-top menu-orders-nav" role="banner">
			<div class="container">
		    <div class="navbar-header">
		      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div>
		    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
		      	<ul id="myTab" class="nav nav-tabs nav-justified navbar-nav">
					{% for category in categories %}
					<li><a href="#{{ category }}" data-toggle="tab"><h4><strong>{{ category|capfirst }}</strong></h4></a></li>
				    {% empty %}
			        <div class="alert alert-warning"><li>Sorry no categories have been included</li></div>
			        {% endfor %}
		        </ul>
		    </nav>
 	 	</div>
		</div>					
		
		<div class="jumbotron">
			{% if errors %}
        		<ul>
        			<div class="alert alert-danger alert-dismissable">
        			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		            	{% for error in errors %}
		            		<li><strong><center>{{ error }}</center></strong></li>
		            	{% endfor %}
            	   </div>
        	    </ul>
   			{% endif %}
   			{%if messages %}
   				<div class="alert alert-success alert-dismissable">
   					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
   					<ul>
   						{% for message in messages %}
   						<li><strong><center>{{ message }}</center></strong></li>
   						{% endfor %}
   					</ul>
   				</div>
   			{% endif %}
			<div  class="panel panel-info">
				<div class="panel-heading">
				</div>
			<div class="results">
				<table id="result_list">
					<thead>
					<tr>
						<th scope="col"  class="action-checkbox-column">
						   <div class="text"><span><input type="checkbox" id="action-toggle" /></span></div>
						   <div class="clear"></div>
						</th>
						<th  scope="col">
							<div class="text"> Item</div>
						</th>
						<th  scope="col">
							<div class="text"> @price</div>
						</th>
						<th  scope="col">
							<div class="text"> Item No.</div>
						</th>
					</tr>
				    </thead>
				<div class="tab-content" id="myTabContent">
					<tbody>
						{% for category in categories %}
						<div class="tab-pane fade in active" id="{{ category }}">
			             {% for item in category.item_set.all %}
					<tr class="{% cycle 'row1' 'row2' %}">
						<td class="action-checkbox">
							<input class="action-select" type="checkbox" name="items" value="{{item.id }}"/>
						</td>
						<th>
							{{ item|capfirst }}
						</th>
						<td>{{ item.price_per_item | intcomma}}</td>
						<td class="nowrap">
										<label>
												<select name="{{ item }}_number">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											</select>
										</label>	
						</td>
					</tr>
						{% endfor %}
						</div>
					     {% empty %}
			  <div class="alert alert-warning"> <li> Sorry no categories have been included.</li></div>
						{% endfor %}
					</tbody>

				</div>

				</table>
			</div>	
		<br>
		</div>	
		<center>
		<div class="btn-group">	
		<button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-upload"></span> Submit Order</button> 
		<button type="reset" class="btn btn-warning  btn-lg"><span class="glyphicon glyphicon-minus-sign"></span> Clear Order</button>
		</div>
		</center>
		</div>
	</form>

	{{ sent_items }}
{% endblock %}